- load staticfiles
- load image
- load markup

.col-6.col-sm-6.col-lg-4.summary
  img(src="{{interview|image_url:'picture,265,170'}}")
  h2 {{interview.title}}
  p {{interview.summary|markdown:"safe"}}
  p
    a.btn.btn-default(href='{% url "interview" interview.slug %}', role='button') View details »
