- load staticfiles
- load image
- load markup

.col-6.col-sm-6.col-lg-4.summary
  a(href='{% url "interview" interview.slug %}')
    img(src="{{interview|image_url:'picture,265,170'}}")
  h2 {{interview.title}}
  div.introtext
    | {{interview.summary|markdown:"safe"}}

  a.btn.btn-default(href='{% url "interview" interview.slug %}', role='button') Ver Más »
