- load staticfiles
- load image

.col-6.col-sm-6.col-lg-4.summary
  img(src="{{interview|image_url:'picture,265,170'}}")
  h2 {{interview.title}}
  p.introtext 
    |	{{interview.summary|safe}}
  
  a.btn.btn-default(href='{% url "interview" interview.slug %}', role='button') Ver Más »
