.list-group
  a.list-group-item.active(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
