.list-group
  a.list-group-item.about.active(href='/about') Acerca de nosotros
  a.list-group-item.siteswelike(href='/siteswelike') Sitios que nos gustan
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
