.list-group
  a.list-group-item.active(href='/about') Acerca de nosotros
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
  a.list-group-item(href='#') Link
