- load interviews

img(src='/static/img/logo-web.png')
.list-group
  a.list-group-item.about.active(href='/about') Acerca de nosotros
  {% get_recent_interviews %}
  - for interview in recent_interviews
    a.list-group-item(class="{{interview.slug}}", href='{% url "interview" interview.slug %}') 
      | {{ interview.title }}
  
