span.st_facebook(displaytext='Facebook')
span.st_twitter(displaytext='Tweet')
span.st_linkedin(displaytext='LinkedIn')
span.st_tumblr(displaytext='Tumblr')
span.st_pinterest(displaytext='Pinterest')
span.st_evernote(displaytext='Evernote')
span.st_googleplus(displaytext='Google +')
span.st_fblike(displaytext='Facebook Like')
