extends base.jade

block content
  h1 Acerca de Nosotros.
  h3 ¿Cada cuánto tiempo sale una nueva entrevista?
  p Tratamos de tener una nueva entrevista todos los meses.
  h3 ¿Puedo sugerir a alguién para entrevistar?
  p Sí, por supuesto. Nos puedes escribir a nuestro mail o a nuestro twitter.
  h3 ¿Me pueden entrevistar?
  p Sí, nos puedes mandar tu entrevista a nuestro correo, ojalá en Markdown o HTML. 
  h3 ¿Se les ocurrió a ustedes la idea?
  p No, copíamos la idea de un sitio llamado The Setup y ellos nos dejan copiar la idea :) .
  h3 ¿Quién corre el sitio?
  p Ignacio y Joaco. Realmente no importa mucho.
  h3 ¿Puedo compartir la entrevista en otro sitio?
  p Obvio, la idea es que harta gente conozca a nuestro entrevistados.

