extends base.jade

- load staticfiles

block stylesheets
  link(href="{% static 'css/interview.css' %}", rel="stylesheet")

block content
  div.row
    div.col-xs-12.col-sm-9
      h1 {{interview.title}}
      img(src="/uploads/{{interview.picture}}")
      p {{interview.who_you_are|safe}}
      p {{interview.what_hardware|safe}}
      p {{interview.what_software|safe}}
      p {{interview.dream_setup|safe}}
