extends base.jade

- load staticfiles
- load markup

block stylesheets
  link(href="{% static 'css/interview.css' %}", rel="stylesheet")

block content
  div.row
    div.col-xs-12
      h1 {{interview.title}}
      img(src="/uploads/{{interview.picture}}")
      h2 ¿Quién eres tú?
      p {{interview.who_you_are|markdown:"safe"}}
      h2 ¿Qué software ocupas?
      p {{interview.what_hardware|markdown:"safe"}}
      h2 ¿Qué hardware ocupas?
      p {{interview.what_software|markdown:"safe"}}
      h2 ¿Cuál es tu "setup" soñado?
      p {{interview.dream_setup|markdown:"safe"}}
