doctype 5

- load compress
- load staticfiles
- load i18n static

html(lang="es")
  head
    meta(charset="utf-8")
    title Nosotros Usamos
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="http://magnet.cl")
    link(rel='shortcut icon', href='/static/img/favicon.ico')
    {% compress css %}
    link(href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}", rel="stylesheet")
    link(href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}", rel="stylesheet")
    link(href="{% static 'bower_components/bootstrap-datepicker/css/datepicker.css' %}", rel="stylesheet")
    link(href="{% static 'bower_components/select2/select2.css' %}", rel="stylesheet")
    link(href="{% static 'css/bootstrap_custom.css' %}", rel="stylesheet")
    link(href="{% static 'css/site.css' %}", rel="stylesheet")
    link(href="{% static 'css/detail.css' %}", rel="stylesheet")
    link(href="{% static 'css/form.css' %}", rel="stylesheet")
    {% endcompress %}

    //if lte IE 7
      link(href="{% static 'bower_components/html5shiv/dist/html5shiv.js' %}", rel="stylesheet")

    //if lt IE 9
      link(href="{% static 'css/ie.css' %}", rel="stylesheet")

    {% compress css %}
    block stylesheets
    {% endcompress %}

  body(class='{{body_class|default:""}}')
    div

      div.navbar.navbar-inverse.navbar-fixed-top
        div.container
          div.navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse",
                                  data-target=".navbar-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="{% url 'home' %}") Nosotros Usamos
          div.navbar-collapse.collapse
            - if user.is_authenticated 
              {% if user.is_staff %}
              ul.nav.navbar-nav
                li
                  a(href="{% url 'admin:index' %}") Administración
              {% endif %}

      div.container
        div.row
          {% if messages %}
          {% for message in messages %}
          div(class="alert alert-{{ message.tags }}") {{ message }}
          {% endfor %}
          {% endif %}
      div.container
        div.row.row-offcanvas.row-offcanvas-left
          div.col-xs-6.col-sm-3.sidebar-offcanvas(id="sidebar", role="navigation")
            {% include "includes/sidebar.jade" %}

          div.col-xs-12.col-sm-9
            img.layout-img(src='/static/img/header1.png')
            {% block content %}
            {% endblock %}
            img.layout-img(src='/static/img/header2.png')
            .well.well-sm
              p ¿Quieres participar? Escribenos a 
                  a(href='mailto:contacto@nosotrosusamos.com')
                    |contacto@nosotrosusamos.com

      //Le javascript
      //Placed at the end of the document so the pages load faster

      // uncompressible javascripts
      {% if debug %}
      script(src="{% static 'bower_components/jquery/jquery.min.js' %}")
      {% else %}
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
      {% endif %}
      block uncompressible_javascripts

      {% compress js %}
      script(src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}")
      script(src="{% static 'bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js' %}")
      script(src="{% static 'bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js' %}")
      script(src="{% static 'bower_components/select2/select2.min.js' %}")
      script(src="{% static 'bower_components/select2/select2_locale_es.js' %}")
      script(src="{% static 'js/site.js' %}")
      script(src="{% static 'js/form.js' %}")
      {% endcompress %}

      {% compress js %}
      block javascripts
      {% endcompress %}

      script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-46492592-1', 'nosotrosusamos.com');
          ga('send', 'pageview');
      script(type='text/javascript')
        var switchTo5x=true;
      script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
      script(type='text/javascript')
        stLight.options({publisher: "752c05cf-7192-41fb-a70e-90e5780ff3bd", doNotHash: false, doNotCopy: false, hashAddressBar: false});

