extends base.jade

- load staticfiles

block stylesheets
  link(href="{% static 'css/summary.css' %}", rel="stylesheet")

block content
  div.row.row-offcanvas.row-offcanvas-right
    div.col-xs-12.col-sm-9
        img(src='/static/img/header1.png')
        p.pull-right.visible-xs
            button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle nav
          .jumbotron
            h2 Nosotros Usamos
            p
              | ¿Qué ocupamos para trabajar y divertirnos? 
          .row
            {% for interview in interviews %}
            {% include "includes/summary.jade" %}
            {% endfor %}
        .well.well-sm
          p ¿Quieres participar? Escribenos a 
              a(href='mailto:contacto@nosotrosusamos.com')
                |contacto@nosotrosusamos.com
        img(src='/static/img/header2.png')


