extends base.jade

- load staticfiles

block stylesheets
  link(href="{% static 'css/summary.css' %}", rel="stylesheet")

block content
  div.row.row-offcanvas.row-offcanvas-right
    div.col-xs-12.col-sm-9
        p.pull-right.visible-xs
            button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle nav
          .jumbotron
            h2 Nosotros Usamos
            p
              | Esta es una página que nos muestra lo que ocupamos para trabajar y divertirnos. Es gratís y sin fines de lucro. ¿Te gustaría participar?
          .row
            {% for interview in interviews %}
            {% include "includes/summary.jade" %}
            {% endfor %}
    #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
      {% include "includes/sidebar.jade" %}

