extends base.jade

- load staticfiles

block stylesheets
  link(href="{% static 'css/summary.css' %}", rel="stylesheet")
  link(href="{% static 'css/offcanvas.css' %}", rel="stylesheet")

block content
  .jumbotron
    h2 Nosotros Usamos
    p
      | Te contamos que ocupamos para trabajar y divertirnos. 
  - for interviews in grouped_interviews
    .row
      {% for interview in interviews %}
      {% include "includes/summary.jade" %}
      {% endfor %}
