extends base.jade

- load staticfiles

block stylesheets
  link(href="{% static 'css/summary.css' %}", rel="stylesheet")
  link(href="{% static 'css/offcanvas.css' %}", rel="stylesheet")

block content
  p.pull-left.visible-xs
      button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle nav
    .jumbotron
      h2 Nosotros Usamos
      p
        | Te contamos que ocupamos para trabajar y divertirnos. 
    .row
      {% for interview in interviews %}
      {% include "includes/summary.jade" %}
      {% endfor %}
