block content
  div.row.row-offcanvas.row-offcanvas-right
    div.col-xs-12.col-sm-9
        img(src='/static/img/header1.png')
        p.pull-right.visible-xs
            button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle nav
            h2 Acerca de Nosotros.
            h1 ¿Cada cuánto tiempo sale una nueva entrevista?
            p Tratamos de tener una nueva entrevista todos los meses.
            h1 ¿Puedo sugerir a alguién para entrevistar?
            p Sí, por supuesto. Nos puedes escribir a nuestro mail o a nuestro twitter.
            h1 ¿Me pueden entrevistar?
            p Sí, nos puedes mandar tu entrevista a nuestro correo, ojalá en Markdown o HTML. 
            h2 ¿Se les ocurrió a ustedes la idea?
            p No, copíamos la idea de un sitio llamado The Setup y ellos nos dejan copiar la idea :) .
            h2 ¿Quién corre el sitio?
            p Ignacio y Joaco. Realmente no importa mucho.
            h2 ¿Puedo compartir la entrevista en otro sitio?
            p Obvio, la idea es que harta gente conozca a nuestro entrevistados.
        img(src='/static/img/header2.png')

